<h1>Editing <%= @business_expense.name %></h1>

<%= render 'form' %>

<div class="form-lower-buttons">
  <h3>
    <%= link_to 'Details', @business_expense %>
    <%= link_to 'Back', business_expenses_path %>
    <%= link_to 'Delete This Expense', business_expense_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %>
  </h3>
</div>
