<div class="title"></div>
<div class="cards">
  <div class="card">
    <div class="card-header">
      <%= link_to (image_tag asset_url('edit.png'), class: "index-icon"), edit_business_expense_path(@business_expense) %>
      <h2><%= @business_expense.name.capitalize%></h2>
      <br />
    <div class="index-card">
      <h3><%= @business_expense.description.capitalize %></h3>
      <h3><%= number_to_currency(@business_expense.amount) %> </h3>
      <% if @business_expense.date %>
        <h3>Due on <%= @business_expense.date.strftime("%B %d, %Y") %></h3>
      <% end %>
    </div>
      <h3><%= link_to 'Back to Business Expenses', business_expenses_path, class: "project-show-buttons" %></h3>
  </div>
</div>

</div>
