<div class="title">
  My Sales Channels
  <%= form_tag sales_channels_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder:"Enter Search" %>
  <%= image_submit_tag "search.png", class: "search-button", name: nil %>
  <% end %>
</div>
<h3><%= link_to 'New Sales Channel', new_sales_channel_path %></h3>
<% if @sales_channels.length > 0 %>
  <% @sales_channels.each do |sales_channel| %>
    <div class="cards">
      <div class="card">
        <div class="card-header">
          <%= link_to (image_tag asset_url('edit.png'), class: "index-icon"), edit_sales_channel_path(sales_channel) %>
          <h2><%= link_to sales_channel.name, sales_channel %></h2>
        </div>
        <div class="index-card padding-underload">
          <h3><%= sales_channel.description %></h3>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<% end %>
