<div class="title">Editing <%= @material_purchase.name %></div>

<%= render 'form' %>

<div class="edit-back">
  <div class="form-lower-buttons">
    <h3>
      <%= link_to 'Back to Details', @material_purchase %>
      <%= link_to 'Back to Materials Inventory', material_purchases_path %>
      <%= link_to 'Delete This Item', material_purchase_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %>
    </h3>
</div>
