<div class="title">Editing <%= @sale.project.name %> Sale</div>

<%= render 'form' %>

<div class="form-lower-buttons">
  <h3>
    <%= link_to 'Details', @sale %>
    <%= link_to 'Back to Sales', sales_path %>
    <%= link_to 'Delete This Sale', sale_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %>
  </h3>
</div>
