<!DOCTYPE html>
<html>
  <head>
    <title>Arttrack</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:warning] %>
        <div class="warning"><%= flash[:warning] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="success"><%= flash[:success] %></div>
      <% end %>
        <%= yield %>
        <%= link_to (image_tag asset_url('clay.jpg'), class: "login-image") %>
  <%= render 'layouts/awesome_footer' %>
  </body>
</html>
